//Colors Scheme
$white: #FFFFFF;
$isabelline: #EEEDED;
$spanish_gray: #987797;

$coral: #EACB31;
$buff: #F2E16A;
$vanilla: #F5E7A1;

$flame: #E4572E;
$light_red_ochre: #E87554;
$pastel_pink: #F2B2A0;

$shiny_shamrock: #4CA866;
$turquoise_green: #9DCFAB;
$pastel_gray: #BDDFC7;

$blue_de_france: #3C91E6;
$blue_jeans: #5FA5EA;
$jordy_blue: #82B9EF;

$black: #000000;
$outer_space: #454545;
$quick_silver: #A2A2A2;

//Fonts Family, sizes weight
$pt_mono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;

$regular: 400;
$light: 300;

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;