.header {
    position: relative;
    max-width: 1400px;
    width:90%;
    margin: 0 auto;
    padding: 28px 10px;
    overflow: hidden;
}

.button-group{
    position: relative;
    display: block;
    float: right;
    padding: 4px 0;
}