.main{
    position: relative;
    top: 0;
    width: 100%;
    height: calc(70vh - 92px);
}
.main-section {
    background-image: url(../images/img-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
}

.benefits{
    position: absolute;
    width: 570px;
    background-color: #fff;
    padding: 25px 15px;
    bottom: 0;
    right: 0;
}
.benefits__box{
    float: left;
    width: 170px;
    position: relative;
    h4{
        font-size: $xx-large;
    }
    p{
        font-size: $medium;
    }
}
.benefits__box--variety {
    h4 {
        padding: 0 35px;
    }
    p{
        padding: 0 35px;
    }
}
.benefits__box--country {
    h4 {
        padding: 0 50px;
    }
    p{
        padding: 0 50px;
    }
}
.benefits__box--accesories {
    h4 {
        padding: 0 10px;
    }
    p{
        padding: 0 10px;
    }
}

.main-title {
    position: relative;
    width: 30%;
    height: 100%;
    float: right;
}
.main-title__container {
    max-width: 215px;
    margin: 0 auto;
    position: relative;
}
.main-title__text{
    font-size: $xxx-large;
}
.main-title__subtext {
    font-size: $x-large;
}


@media (max-height:635px){
    .main {
        height: 352px;
    }
}

@media (max-width:1115px) {
    .main-title__container{max-width: 125px;padding-top: 40px;}
    .main-title__text{font-size: $xx-large;}
    .main-title__subtext {font-size: $large;}

    .benefits{
        position: absolute;
        width: 440px;
        padding: 20px 15px;
    }
    .benefits__box{
        width: 130px;
        h4{
            font-size: $x-large;
        }
        p{
            font-size: $small;
        }
    }

    .benefits__box--variety {
        h4 {
            padding: 0 20px;
        }
        p{
            padding: 0 20px;
        }
    }
    .benefits__box--country {
        h4 {
            padding: 0 25px;
        }
        p{
            padding: 0 25px;
        }
    }
    .benefits__box--accesories {
        h4 {
            padding: 0 5px;
        }
        p{
            padding: 0 5px;
        }
    }
}

@media (max-width:749px) {
    .main-section {
        width: 100%;
        height: 55vh;
        float: none;
    }
    .benefits{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .benefits__box {
        margin: 0 auto;
    }
    .main-title {
        position: absolute;
        width: 160px;
        height: 69.5%;
        float: none;
        top: 0;
        right: 0;
        background-color: $white;
    }
    .main-title__container{
        padding-top: 10px;
    }
}