.navigation {
    position: relative;
    float: left;
}

.navigation__brand{
    display: inline-block;
    margin-right: 40px;
    
}
.navigation__logo {
    width: 40px;
}

.menu {
    display: inline-block;
    list-style: none;
}
.menu .menu__item{
    display: block;
    float: left;
    margin-right: 10px;
    &:last-child{
        margin-right: 0;
    }
}
.menu .menu__link {
    padding: 20px 10px;
    position: relative;
    display: block;
    font-size: $medium;
}

@media (max-width:749px) {
    .navigation__logo {
        width: 25px;
    }
    .navigation__brand{
        margin-right: 20px;
        
    }
    .menu .menu__link {
        font-size: $small;
        padding: 10px;
    }
}